body{
    background-image: url("https://marketingweek.imgix.net/content/uploads/2017/05/12103909/Coding-body-image-.jpg?auto=compress,format,&crop=faces,entropy,edges&fit=crop&q=60&w=750&h=460");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-family: 'Questrial', sans-serif;
}

#flashcard1{
    border: double #002b80 10px;
    width: 55%;
    height: 20em;
    display: inline-block;
    margin-top: 8%;
    padding-top: 5em;
    background: white;
    border-radius: 10px;
    
}
p{
    text-align: center;
    font-size: 3em;
    color: #002b80;

}

#correct {
    display:none;
    color: #009933;
    font-size: 3.2em;
}

#incorrect {
    display:none;
    color: red;
    font-size: 3.2em;
}

#answer1 {
    
    display:none;
}
#question1 {
    
    display:inline;
}

form{
    margin-top: 3em;
}
input {
    vertical-align: top;
    border-radius: 5px;
    width: 40%;
    box-sizing: border-box;
    border: 1px solid #999;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 1em
   }

button {
    padding: 0;
    font: inherit;
    background-color:  #002b80;
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #ffffff;
   
   }
   
   button:hover,
   button:focus {
    color: #002b80;
    border-color: #002b80;
    background-color: white;
   }