body{
    text-align: center;
}

#flashcard1{
    border: solid black 2px;
    width: 55%;
    height: 20em;
    display: inline-block;
    margin-top: 10%;
    
}
p{
    text-align: center;
    font-size: 6em;

}

#answer1 {
    display:none
}