body{
    text-align: center;
}

#flashcard1{
    border: solid black 2px;
    width: 55%;
    height: 20em;
    display: inline-block;
    margin-top: 10%;
    padding-top: 5em;
    background: linear-gradient(0deg, #ffcc00, #ff6600, #cc00ff, #6600cc);
}
p{
    text-align: center;
    font-size: 3em;

}

#correct {
    display:none;
}

#incorrect {
    display:none;
}

#answer1 {
    
    display:none;
}
#question1 {
    
    display:inline;
}